# Compiled JS files
lib/**/*.js
lib/**/*.js.map

# TypeScript declaration files
typings/

# Node dependencies
node_modules/

# Environment & secrets
*.local
*.env
serviceAccountKey.json
functions/serviceAccountKey.json
functions/lib/serviceAccountKey.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
